*.cache
*.iml
*.log
*.sqlite3
*.xml
YCHAT/coverage/.resultset.json
YCHAT/coverage/index.html
YCHAT/db/development.sqlite3
YCHAT/db/test.sqlite3
YCHAT/log/development.log
YCHAT/log/test.log
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/
*.log
*.cache
*.log
coverage/index.html
coverage/.last_run.json
coverage/.resultset.json
coverage/assets/0.10.2/application.css
coverage/assets/0.10.2/application.js
coverage/index.html
