*.cache
*.iml
*.log
*.sqlite3
*.xml
/coverage/.resultset.json
/coverage/index.html
/db/development.sqlite3
/db/test.sqlite3
/log/development.log
/log/test.log
*.rbc
capybara-*.html
.rspec

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/coverage/*
/.idea/*

/node_modules
/yarn-error.log

.byebug_history

# Ignore coverage files and .DS_Store files
/coverage
.DS_Store
/app/.DS_Store
/app/assets/.DS_Store
/app/assets/images/.DS_Store
/app/assets/stylesheets/.DS_Store
/app/assets/javascripts/.DS_Store
/public/.DS_Store
coverage/index.html
coverage/assets/0.10.2/application.css
coverage/index.html
coverage/assets/0.10.2/application.js
coverage/.resultset.json
