<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="header-text">
    <h2 class="header-title">Badges in Progress</h2>
  </div>
  
  <div class="card">
    <div class="card-body card-text">
        <table class="table card-text">
          <thead>
            <tr>
              <th scope="col">Badges in Progress</th>
            </tr>
          </thead>
          <tbody>
            <% @camp_badges.each do |camp_badge| %>
              <tr>
                <td>
                    <%= link_to camp_badge.badge.name, camp_badge %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'New Camp Badge', new_camp_badge_path %>
    </div>
  </div>

</div>

