<div class="header" id="barn-header">
  <div class="header-body">
    <% if logged_in? && (current_user.role?(:counselor)) %>
      <div class="header-title">Create a Class</div>
      <div class="header-subtitle">Select a badge to work on for this week of the camp.</div>
    <% elsif logged_in? && (current_user.role?(:admin)) %>
      <div class="header-title">New Camp Badge</div>
    <% end %>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <p class="card-text">
          <% if logged_in? && (current_user.role?(:admin)) %>
            <%= render 'admin_form', camp_badge: @camp_badge %>
          <% elsif logged_in? && (current_user.role?(:counselor)) %>
            <%= render 'counselor_form', camp_badge: @camp_badge %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>