<%= form_with(model: roster, local: true) do |form| %>
  <div class="field">
    <%= form.label :file %><br />
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit "Upload Roster"%>
  </div>
<% end %>