<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Rosters</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <% if logged_in? && current_user.role?(:admin) %>
      <%= link_to 'New Roster', new_roster_path, class: "btn btn-primary btn-block"%>
    <% end %>

    <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title">Uploaded Rosters</h5>
          <p class="card-text">
            <% if @rosters.count == 0 %>
              There are no files uploaded at this time.
            <% else %>
              <table class="table">
                <thead>
                <tr>
                  <th>File</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                  <% @rosters.each do |roster| %>
                    <tr>
                      <td><%= roster.file %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </p>
        </div>
      </div>
  </div>
</div>

<div class="pad-bottom">
</div>
