<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @roster.file %>
</p>
<%# link_to 'Upload', @roster.import_data %>
<br><br>
<%= link_to 'Edit', edit_roster_path(@roster) %> |
<%= link_to 'Back', rosters_path %>
