<h1>Editing Counselor Camp Badge</h1>

<%= render 'form', counselor_camp_badge: @counselor_camp_badge %>

<%= link_to 'Show', @counselor_camp_badge %> |
<%= link_to 'Back', counselor_camp_badges_path %>
