<div class="header" id="profile-header">
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Create New Camp</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Create New Camp</h5>

        <p class="card-text">
          <%= render 'form', camp: @camp %>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div