<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="btn-wrapper">
    <%= link_to '+ Add New Counselor', new_user_path, class: "btn-sm btn-primary btn-block" %>
  </div>
  <div class="header-text">
    <h2 class="header-title">Counselors</h2>
    <div class="header-subtitle">
    </div>
  </div>

  <%= render :partial => "partials/counselor_index", locals: {counselors: @counselors, state: "Current"} %>
  <%#= render :partial => "partials/camper_index", locals: {camps: @upcoming_camps, state: "Upcoming"} %>
  <%#= render :partial => "partials/camper_index", locals: {camps: @past_camps, state: "Past"} %>

</div>
