<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Counselors</div>
    <div class="header-subtitle">
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
      <%= link_to 'Create New Counselor', new_user_path, class: "btn btn-primary btn-block" %>
      <div class="card page-card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            <% if @counselors.count != 0 %>
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @counselors.each do |counselor| %>
                  <tr>
                    <td>
                      <%= link_to counselor do %>
                        <%= counselor.name %>
                      <% end %>
                    </td>
                    <td><%= counselor.user.email %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              There are no counselors in the system.
            <% end %>
          </p>
        </div>
      </div>
  </div>
</div>

<div class="pad-bottom">
</div>