<% flash.each do |name, msg| %>
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <!-- <a href="#" class="close">&times;</a> -->
      <%#= msg %>
    </div>
  <% else %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error] %>
      <!-- <a href="#" class="close">&times;</a> -->
      <%#= msg %>
    </div>
  <% end %>
<% end %>
