<div class="row main-view profile-header">
  <div class="header"></div>
  <h2 class="header-title">Profile</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Edit Your Information</h5>
      <p class="card-text">
        <%= render partial: "partials/form_structure", locals: {object: @user,
                                                                type_of_form: "Edit User",
                                                                fields: "user_fields"} %>
      </p>
    </div>
  </div>
</div>
