<div class="header" id="profile-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Edit User</div>
    <div class="header-subtitle">
      Role — <%= @user.role.capitalize %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title">Edit User Information</h5>

        <p class="card-text">
          <%= render partial: "partials/form_structure", locals: {object: @user,
                                                                  type_of_form: "Edit User",
                                                                  fields: "edit_user_fields"} %>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>

<%#= render 'form', user: @user %>

</div>
