<div class="row main-view profile-header">
  <div class="header"></div>
  <h2 class="header-title">Profile</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
      <span id="user-role">
          <% if current_user.role?(:admin) %>
            Administrator
          <% end %>
        </span>
      <p class="card-text">
        <%= render :partial => "user_details" %>
      </p>
    </div>
  </div>
</div>
