<h1>Editing Camper Camp Badge Task</h1>

<%= render 'form', camper_camp_badge_task: @camper_camp_badge_task %>

<%= link_to 'Show', @camper_camp_badge_task %> |
<%= link_to 'Back', camper_camp_badge_tasks_path %>
