<div class="form-group">
    <%= f.label :camp_id %>
    <%= f.input :camp_id, label: false, collection: Camp.alphabetical.to_a, include_blank: true, :label_method => :name, input_html: {class: 'form-control'}  %>
</div>
<div class="form-group">
    <%= f.label :camper_id %>
    <%= f.input :camper_id, label: false, collection: Camper.alphabetical.to_a, include_blank: true, :label_method => :proper_name, input_html: {class: 'form-control'}  %>
</div>