<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Campers This Week</div>
    <div class="header-subtitle">
      <br/>
      <% if logged_in? && current_user.role?(:admin) %>
        <%= link_to 'Add New Camper to this Camp', new_camper_registration_path(:camp_id => @camp.id), class: "btn-sm btn-primary btn-block btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Camper Roster</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @camper_registrations.each do |camper_registration| %>
            <tr>
              <td>
                <%= link_to camper_registration.camper.proper_name, camper_registration.camper %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>