<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="btn-wrapper">
    <%= link_to '+ Add New Camper', new_camper_path, class: "btn-sm btn-primary btn-block" %>
  </div>
  <div class="header-text">
    <h2 class="header-title">Campers</h2>
    <div class="header-subtitle">
      <br/>
      <% if logged_in? && current_user.role?(:admin) %>
        <%= link_to 'Create New Camper', new_camper_path, class: "btn btn-primary btn-block btn-sm" %>
      <% end %>
    </div>
  </div>
  <%= render :partial => "partials/camper_index", locals: {campers: @campers, state: "Current"} %>
</div>
