
<div class="header" id="barn-header">
  <%#= link_to 'Back', :back %>
  <div class="btn-wrapper">
  </div>
  <div class="header-body">
    <div class="header-title">Campers</div>
    <div class="header-subtitle">
      <br/>
      <%= link_to 'Create New Camper', new_camper_path, class: "btn btn-primary btn-block btn-sm" %>
    </div>
  </div>
</div>

<div class="row page-row">
  <div class="col">
    <div class="card page-card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Campers</th>
            </tr>
            </thead>
            <tbody>
            <% @campers.each do |camper| %>
              <tr>
                <td>
                  <%= link_to camper do %>
                    <%= camper.proper_name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="pad-bottom">
</div>