<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
    <%= link_to 'Back', campers_path %>
  <div class="header-text">
    <h2 class="header-title">New Camper</h2>
    <div class="header-subtitle">
    </div>
  </div>
    <%= render 'form', camper: @camper %>

</div>




