<div class="row dashboard main-view">
	<div class="header"></div>
	<h2 class="header-title">Welcome, <%= current_user.first_name %>!</h2>
	<div class="card">
		<div class="card-body">
		    <h5 class="card-title">Current Camps</h5>
		    <p class="card-text">
		    </p>
	  	</div>
	</div>
</div>