<div class="row main-view barn-header" id="admin-camp-view">
  <div class="header"></div>
  <%= link_to 'Back', :back %>
  <div class="header-text">
    <h2 class="header-title">Parents</h2>
    <div class="header-subtitle">
      <%= link_to 'New Parent', new_parent_path %>

    </div>
  </div>
  <%= link_to 'New Parent', new_parent_path, class: "btn btn-primary btn-block" %>

  <%= render :partial => "partials/parent_index", locals: {parents: @parents, state: "Current"} %>
  <%#= render :partial => "partials/camper_index", locals: {camps: @upcoming_camps, state: "Upcoming"} %>
  <%#= render :partial => "partials/camper_index", locals: {camps: @past_camps, state: "Past"} %>

</div>
