@import "bootstrap";

/* General Presets for Pages */
html, body {
  height: 100%;
  width: 100%;
  background: #F7F7F7;
  font-family: "Quicksand";
}

.container {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;

}

.bg-light {
  background-color: #fff !important;
}

a {
  color: #56D4CB;
}

a:hover {
  color: #56D4CB;
  font-weight: 700;
}

/* Home Page */
.home-container {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("/assets/grass-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.home-container .card {
  bottom: 0;
  position: absolute;
}

/* Shadow for modal pop-up */
.modal-shadow:before {
  content: " ";
  z-index: 0;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(136, 136, 136, 0.3);
}


/* Card Styling */
.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(136, 136, 136, 0.3);
  border-radius: 14px;
  border: none;
  color: #7E8288;
  width: 30%;
  margin: 5% 35%;
}

.card-body {
  padding: 2em;
}

h5.card-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
}

.card-text {
  font-size: 14px;
  line-height: 19px;
}


/* Headers */
.header {
  position: relative;
}

.header-body {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

.header-title {
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
  color: #696969;
}

.header-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #696969;
}

#dashboard-header {
  background: url("/assets/dashboard-header.svg");
  height: 25vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
}

#barn-header {
  background: url("/assets/barn-header.svg");
  height: 25vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
}

#profile-header {
  background: url("/assets/profile-header.svg");
  height: 25vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
}

/* Navigation */
.nav-link {
  color: #696969 !important;
}

.nav-link:hover {
  color: #56D4CB !important;
}

/* Page Styling*/
.page-row {
  width: 100vw;
  padding: 5% 40%;
}

.page-card {
  width: auto;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
}

/* Button Overrides */
.btn-group {
  margin-top: 24px;
  width: 100%;
}

.btn {
  background: #56D4CB;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 12px;
  text-transform: uppercase;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #fff;
  color: #56D4CB;
  border: 2px #56D4CB solid;
}

.btn-sm {
  background: #56D4CB;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  padding: 9px;
  text-transform: uppercase;
}

.btn-sm a {
  text-decoration: none;
  color: #fff;
}

.btn-sm:focus {
  outline: 0;
}

.btn-sm:hover {
  background-color: #fff;
  color: #56D4CB;
  border: 2px #56D4CB solid;
  text-decoration: none;
}

.back-btn {
  background: url("/assets/back-arrow.svg");
  max-width: 100%;
  max-height: 30vh;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 1em;
  margin-left: 1em;
}

.btn-wrapper {
  width: auto;
  display: inline-block;
  float: right;
}

/* Links */
a, a:hover {
  text-decoration: none;
}

/* Form styling */

.form-group {
  width: 100%;
}

label {
  text-transform: lowercase;
  margin-bottom: 4px;
  font-size: 14px;
}

input.form-control {
  border-radius: 50px;

}

.form-control.date {
  width: auto;
  display: inline;
}

.form-control select {
  border-radius: 100px;
}

.profile-header h5.card-title {
  margin-bottom: 0px;
}

#user-role {
  font-size: 14px;
}

.card-subtitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 36px;
}

.card-section {
  margin: 16px auto;
}

.card-link {
  color: #56D4CB;
  font-size: 18px;
}

.card-link:hover {
  color: #56D4CB;
}

.section-header {
  color: #696969;
  font-size: 20px;
  font-weight: 700;
}

.camp-badge-header {
  background: url("/assets/camp-badge-header.svg");
  max-width: 100%;
  max-height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  background-size: cover;
}

.accordion-section {
  font-size: 14px;
}

.accordion-header {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
}

.accordion-header h6 {
  font-size: 14px;
  color: #56D4CB;
  font-weight: 700;
}

.img-thumbnail {
  border: none;
  background-color: none;
}

.person-icon {
  margin-bottom: 16px;
  font-size: 12px;
}

.person-icon img {
  margin-bottom: 4px;
}

.pad-bottom {
  height: 100px;
  background: none;
  box-shadow: none;
}

.unbold {
  font-weight: 400;
}

.form {
  display: block;
  max-width: 100%;
  margin-left: 2em;
  margin-top: 5em;
}

.form .input {
  margin: 12px;
}

.form .input label {
  margin-right: 9px;
  color: #696969;
}

/*** MEDIA QUERIES ***/

/* Mobile View Styling */
@media only screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 5% 10%;
  }

  .page-row {
    width: 100vw;
    padding: 7%;
  }

  .card.page-card {
    width: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Tablet View Styling */
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 60%;
    margin: 5% 20%;
  }

  .page-row {
    width: 100vw;
    padding: 10%;
  }

  .card.page-card {
    width: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

